.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.info-div h1 {
  font-size: 6vh;
  text-align: center;
}

.puesto {
  color: rgb(246, 250, 250);
  opacity: 0.8;
  font-size: xl-large;
  margin-bottom: 2rem;
  display: block;
  border-right: 2px solid;
  width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19), blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.info-div p {
  text-align: center;
  margin: 0.5rem;
}
