main {
  display: flex;
  justify-content: space-evenly;
  background: rgb(45, 46, 46);
  background: linear-gradient(176deg, rgb(37, 37, 37) 0%, rgb(91, 92, 92) 98%);
}
main div img {
  max-width: 20rem;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  position: static;
}
main div h1 {
  font-size: 70px;
}

main div p {
  font-family: "Chivo Mono", monospace;
  font-size: large;
  margin-top: 1rem;
}

.ver-button {
  position: absolute;
  top: 90%;
  right: 50%;
}

.info-container {
  max-width: 80%;
}
