.nav-menu {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0.8;
  background-color: rgb(54, 54, 53);
}

nav.nav-menu ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap-reverse;
  text-decoration: none;
}
.nav-menu ul li {
  margin-right: 1rem;
  font-family: "Chivo Mono", monospace;
  cursor: pointer;
}

.links li a img {
  background-color: white;
  border-radius: 5px;
}

.links div a img:hover {
  box-shadow: 1px 1px 10px 1px white;
}

.links {
  display: flex;
}

.links a img {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.main-list ul {
  list-style: none;
}

.main-list ul li h2 {
  border: 0px;
  font-size: xx-large;
  min-width: 40%;
  max-width: 70%;
  text-align: left;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding: 0.1em;
  cursor: pointer;
  border-bottom: solid white;
}
